.avatar{
  position: relative;
  width: 200px;
}

body{
  font-family: 'DM Sans', sans-serif;
}

.name{
  font-weight: bold;
}

.links {
  margin-right: 15px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.text-content {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
  color: #000;
  letter-spacing: 0.01em;
}

