.avatar{
  position: relative;
  width: 200px;
}

/* uncut-sans-latin-400-normal */
/* uncut-sans-latin-400-normal */
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/uncut-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/uncut-sans@latest/latin-400-normal.woff) format('woff');
}

/* uncut-sans-latin-500-normal */
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/uncut-sans@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/uncut-sans@latest/latin-500-normal.woff) format('woff');
}

/* uncut-sans-latin-700-normal */
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/uncut-sans@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/uncut-sans@latest/latin-700-normal.woff) format('woff');
}

.container{
  /* font-family: 'Karla', sans-serif !important; */
  font-family: 'Uncut Sans', sans-serif !important;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.name{
  font-weight: 700 !important;
  font-size: 3rem;
}

.location{
  font-size: 15px !important;
}

.links {
  margin-right: 15px;
  color: #000;
  font-weight: 600;
  font-size: 15px;
}

.text-content {
  font-family: 'Uncut Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.6em;
  color: #000;
  letter-spacing: 0.01em;
}

.article-link{
  color:black;
  margin-right: 1rem;
}

.new-post{
  background-color: #1abc9c;
  border-width: 0px;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
  padding-right: 1rem;
  margin-left: 1rem;
  color:white;
  font-size: 1rem;
  border-radius: 5px;
}

.header {
  margin-top: 5rem;
}

.blogs{
  font-weight: bold;
}

.blog-title{
  padding-top: 1rem;
}

.video-container {
  max-width: 800px;
  width: 100%;
}
.video {
  width: 100%;
  height: auto;
}

@media (min-width: 750px) {
  .inner-container{
    margin-top: 25%
  }
}

@media (min-width: 550px){
  .header {
      margin-top: 12rem;
  }
}


