.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  padding-top: 3%;
  text-align: center;
}
.subTitle {
  text-align: center;
  color: gray;
  font-weight: 500;
  text-decoration: wavy;
  text-align: center;
}
.desc {
  padding-top: 4%;
  text-align: center;
}
.avatar {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.icons {
  margin: 5px;
  cursor: pointer;
  color: black;
}
